@media screen and (max-width: 1130px) {
  header {
    padding: 2rem 6rem;
  }
  #intro-page {
    padding: 0 0 2rem 6rem;
  }
  #features {
    padding: 2rem 6rem;
  }
  #article {
    padding: 2rem 6rem;
  }
  footer {
    padding: 2rem 6rem;
  }
  /* INTRO PAGE SECTION */
  .text-container {
    height: 78vh;
  }
  .text-container h1 {
    font-size: 3rem;
  }
  .text-container p {
    font-size: 1.1rem;
  }
  .img-container {
    max-width: 53%;
    height: 78vh;
  }
  .img-container img {
    width: 550px;
  }
  /* ****** FEATURES SECTION ****** */
  .features-text-container h2 {
    font-size: 2.5rem;
  }
  .features-text-container p {
    font-size: 1.2rem;
  }
  .card-text h3 {
    font-size: 1.1rem;
  }
  .card-text p {
    font-size: 0.75rem;
  }
  /********* ARTICLE SECTION *********/
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 365px) {
}
