@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans", sans-serif;
}

/****** NAVBAR ******/
#desktop-nav {
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  background: white;
}

.menu-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.menu-links li a {
  text-decoration: none;
  color: gray;
}

.menu-links li a:hover {
  color: black;
  text-decoration: solid underline #3ebca0 0.2rem;
  transition: all 0.5s;
  text-underline-offset: 2rem;
}
